.header {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border: 2px solid gray;
}

.nav {
  display: flex;
  font-size: 18px;
  padding-top: 15px;
}

.home {
  padding-right: 20px;
  cursor: pointer;
}

.about {
  padding-right: 20px;
  cursor: pointer;
}
.cart {
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.food-logo {
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
}

.res-card {
  border: 2px solid gray;
  padding: 2px;
  margin: 20px;
  width: 250px;
}

.res-card:hover {
  background-color: rgb(150, 150, 149);
  border: 2px solid black;
  cursor: pointer;
}

.res-food-img {
  width: 250px;
  height: 250px;
}

.search {
  font-size: 18px;
  padding: 5px;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  margin-top: 10px;
  display: flex;
}

.search {
  margin-right: 5px;
  font-size: 15px;
}

.btn {
  font-size: 15px;
  cursor: pointer;
}

.top-restaurant {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.login {
  padding-right: 4px;
  cursor: pointer;
}

.shimmer-container {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}

.shimmercard {
  padding: 2px;
  margin: 20px;
  width: 250px;
  height: 350px;
  background-color: rgb(208, 208, 208);
}
